# Datasets
/dataset/
dataset_npy/

# Environment and IDE
.vscode/
.venv/
src/.env
src/.env.*

# Testing and logs
.pytest_cache/
*.log
tests.log

# Python cache
__pycache__/
*.pyc
*.pyo
*/__pycache__/
**/__pycache__/
# Project specific
results/
check*
yolo*
src/db/data/
.docker/

# Scripts
scripts/benchmark_onnx_cpu_gpu_dataset.py
scripts/check_onnxruntime_backend.py
