# Flask Configuration
FLASK_ENV=development
FLASK_DEBUG=False
FLASK_HOST=0.0.0.0
FLASK_PORT=5000

# Security
SECRET_KEY=your-secret-key-change-in-production

# Model Paths
RKNN_MODEL_PATH=./../rknn/Version6.rknn
ONNX_MODEL_PATH=./../onnx/modele_v8l_9mb_3.onnx

# Inference Settings
CONFIDENCE_THRESHOLD=0.10
IOU_THRESHOLD=0.80
IMG_SIZE=320
# (RKNN pour la simulation rock sur PC,ONNX pour le runtime PC direct ,CUDA_PYTORCH pour le runtime CUDA)
CPU_INFERENCE_MODE=CUDA_PYTORCH

# Logging
LOG_LEVEL=INFO

# PostgreSQL
POSTGRES_USER=human_user
POSTGRES_PASSWORD=human_pass
POSTGRES_DB=human_detection
POSTGRES_TEST_DB=human_detection_test
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql://human_user:human_pass@localhost:5432/human_detection
TEST_DATABASE_URL=postgresql://human_user:human_pass@localhost:5433/human_detection_test
